@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #e9d8db, #ebb7c4);
    font-family: 'Poppins', sans-serif;
    min-height: 150vh;
    overflow: hidden;
}

.header {
    font-size: 1.5rem;
}

.header h1{
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f82052;
    font-size: 10vh;
    opacity: 0.8;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    border-radius: 7px;
    padding-top: 28px;
    padding-bottom: 10px;
}

.task-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input i {
    position: absolute;
    top: 50%;
    transform: translate(20px, -50%);
    opacity: 0.1;
    display: none;
    cursor: pointer;
    font-size: 30px;
}

.task-input input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0 20px 0 53px;
    outline: none;
}

.task-input input::placeholder{
    color: #bfbfbf;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
}

.controls {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
}
.filters span {
    cursor: pointer;
    margin: 0 4px;
    font-size: 16px;
}

.filters span:first-child {
    margin-left: 0;
}

.filters span.active {
    color: #be1ddf;
    border: 1px solid #ebb7c4;
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: 600 ;
}

.controls .clear-btn {
    outline: none;
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 7px 9px;
    border-radius: 4px;
    background: #eb40d4;
    cursor: pointer;
}

.task-box{
    margin: 20px 25px;
}

.task-box .task {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding-bottom: 16px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ccc;
    width: 450px;
    height: 50px;
}


.task-box .task:last-child {
    margin-bottom: 0;
}

.task .box-task {
    display: flex;
}

.task .box-task input {
    margin-top: 6px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.task .box-task span {
    font-size: 20px;
    text-transform: capitalize;
    vertical-align: middle;
}

.task-close {
    cursor: pointer;
}

.task-close i {
    display: flex;
    padding: 5px 0;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    font-size: 26px;
    transition: 0.5s all;
    opacity: 0.7;
}
.task-close i:hover {
    transform: scale(1.1);
    opacity: 1;
}

.task input.edit {
    width: 405px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgb(107, 107, 107);
    cursor: auto;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

.hide {
    opacity: 0;
}
